html {
    background-color: #eceadc;
    text-align: center;
}

/* styles for the header */
.navbar-container {
    background-color: white;
    padding: 10px;
  }

  .brand-link {
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-links {
    color: blue;
  }

  .nav-link {
    margin-right: 20px;
    color: #333;
  }

  .nav-link:hover {
    color: #007bff;
  }

 .logos {
    height: 8rem;
    width: 10rem;
    float: right;
    margin-right: 2em;
}

/* heo section */
.component-below {
    clear: both;
}

  /* styles for the property listing */
  .property-listing-container {
    color: red;
  }

  .property-item {
    color: green;
  }

  /* styles for the footer */
  footer {
    color: green;
  }

  img {
    height: 100%;
    width: 100%;
  }
